<h1> Battle for Middle-Earth </h1>
<h2> Enter names to play: </h2>
<form action="/names" method="post">
  <label for="Player1_Name">
    Player 1 name:
    <input type="text" name="Player1_Name">
  </label>
  <label for="Player2_Name">
    Player 2 name:
    <input type="text" name="Player2_Name">
  </label>
  <input type='submit' name="Enter Names" value='Multiplayer'/>
  <input type='submit' value='Play against the computer!' formaction="/solo-game" />
</form>